<h1> Create a new grandma Bitch  </h1>


<%= simple_form_for (@grandma) do |f| %>
<%= f.input :name %>
<%= f.input :email %>
<%= f.input :description %>
<%= f.input :about %>
<%= f.input :category, as: :radio_buttons %>
<%= f.input :price %>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>
<%= f.button :submit %>
<% end %>

