 <div class="container text-center">
     <div class="grid">
        <div class="card card1">

            <div class="card-content">
              <%= image_tag(@grandma.photo, class: "img-circle") %>
            <h2><%= @grandma.name %></h2>
            <p><strong>Cuisine:</strong><strong><%= @grandma.category %></strong></p>
            <strong> <%= @grandma.email %></strong></%>
             <p>Don't fuck with me</p>

             <%= link_to "Book me",new_grandma_booking_path(@grandma), class: "btn btn-danger btn-lg"%>
              <%= link_to "Add Review",new_grandma_review_path(@grandma), class: "btn btn-danger btn-lg"%>
          </div>
         </div>

          <div class="card">
          <div class="card-content">
          <h3>3,536</h3>
         <strong> <p>Meals Cooked</p></strong>
          </div>
        </div>
       <div class="card">
        <div class="card-content">
          <h3>758</h3>
         <strong> <p>Happy People</p> </strong>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3>119</h3>
        <strong>  <p>Grand Children</p> </strong>
        </div>
      </div>
      <div class="card card2">
        <div class="card-content">
          <h2>More about <%=@grandma.name %></h2>
          <p class="text-justify">
          <%= @grandma.description %>
          <% @grandma.reviews.each do |r| %>
          <%= r.review_comment %>
          <%= r.rating %>
          <% end %>
          </p>
        </div>
      </div>
    </div>
</div>









<<<<<<< HEAD
=======

>>>>>>> master



